header{
    background: url(https://5287aa00874a313e299d-1850966fc307ff23e1e789aeafd2476b.ssl.cf5.rackcdn.com/PostImagem/42240/matthias-kinsella-9e4pcscldyy-unsplash.jpg);
    background-size: cover;
    padding: 1.25rem;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-attachment: fixed;
}

header h1{
    color: #0091D6;
}

header .botao{
    color: white;
    background-color:#0091D6;
    padding: 0.6rem 1.4rem;
    font-size: .9rem;
    border-radius: 5px;
}

.botao_destaque{
    background-color: white;
    color: #2d2dca;
    padding: 0.6rem 1.4rem;
    font-size: .9rem;
    border-radius: 5px;
}
